table {
    border: 2px solid black;
    width: 600px;
}

button {
    width: 180px;
    height: 80px;
    border: 3px solid black;
    background-color: chartreuse;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 30px;

}

a {
    padding-left: 400px;
    color: blue;
    
}

#product-link {
    margin-bottom: 25px;

}
